/* DEBUG */
/* [class*="col-"] {
  background-color: pink;
  border: 1px solid red;
} */


.red {
  background-color: red;
}

/* REGOLE GENERALI */
* {
  font-family: 'Roboto', Verdana;
}
.ms_section {
  margin: 50px 0;
}
.grey {
  background-color: #f3f5f9;
}
a:hover {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}

ul li {
  display: inline-block;
  padding: 0 5px;
  list-style: none;
  padding-inline-start: 0px;
}
ul {
  margin: 0;
}
h1 {
  color: white;
  font-size: 4em;
}
h2 {
  margin: 5px 0;
  color: #031b4e;
  font-size: 36px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 15px;
}
h3 {
  font-size: 2em;
  font-weight: bold;
}
h4 {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.4em;
  line-height: 1.3em;
}
h5 {
  padding: 10px 0;
}
h6 {
  color: white;
}
p {
  color: #5c6a88;
  padding: 5px 0;
}
.wrapper_70 {
  width: 70%;
  margin: 0 auto;
}
.ms_button {
  background-color: white;
  color: #1a7aff;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 20px;
  border: 1px solid white;
  cursor: pointer;
}
.ms_button:hover {
  color: white;
  background-color: #1a7aff;
  border: 1px solid #1a7aff;
}
/* Header */
nav {
  padding: 7px 0;
}
nav a {
  line-height: 50px;
  color: black;
}
/* nav ul {
  padding: 0 10px;
} */
nav a:hover {
  color: #005fe6;
}
nav .ms_button {
  border: 1px solid #1a7aff;
}
nav img {
  width: auto;
  height: 50px;
}
nav .fas.fa-bars {
  line-height: 51px;
}
/* Jumbo */
#jumbo {
  background-image: url(../img/bg-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#jumbo .padder {
  padding: 30px;
}
#jumbo .padder h3:last-of-type {
  color: #056dff;
}

#jumbo .signup {
  background-color: white;
  border-radius: 5px;
}
.button {
  width: 100%;
  margin-bottom: 5px;
}
.button img {
  float: left;
  width: 20px;
}
/* MAIN */
/* Sezione teaser */
#teaser img {
  width: 50%;
}
#teaser a {
  font-size: 20px;
}
#teaser h4 {
  color: #727e99;
}
.ms_sponsors {
  height: 140px;
  line-height: 10;
}
.ms_sponsors img {
  max-height: 100%;
}
/* Sezione info */
#info ul li {
  display: block;
  padding: 5px 0px;
  color: #9ca3b6;
}
#info ul {
  padding-left: 10px;
  border-left: 1px solid grey;
}
.ms_block {
  padding: 0px 30px;
}
.ms_block img {
  width: 50px;
}
/* Sezione carousel */
.carousel-indicators .active {
  background-color: #0046c4;
  border: 1px solid #0046c4;
}
/* Sezione Server */
#server .ms_underline {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}
#server .ms_underline:last-child {
  border-bottom: 0;
}
#server .ms_underline ul {
  padding: 0;
}
#server .ms_underline ul li {
  padding: 0;
}
#server .ms_underline li:first-child {
  width: 20px;
}
#server .ms_underline li:nth-child(2) {
  padding-left: 60px;
  /* padding-right: 80px; */
}
#server .ms_underline li:last-child {
  float: right;
  padding-right: 10px;
  color: #00b6cc;
}
/* Sezione server */
.gradient {
  background-image: linear-gradient(#0047c5, #001f9a);
  color: white;
}
.gradient h2 {
  color: white;
}
/* Sezione startnow */

/* Footer */
footer {
  background-color: #031c4e;
}
footer img {
  width: 30px;
}
footer p {
  margin: 5px 0;
}
.ms_social li {
  display: inline-block;
  font-size: 20px;
}
footer ul {
  padding-left: 0;
}
footer ul li {
  display: block;
  padding-left: 0;
}
footer a {
  color: #7a859d;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2em;
  }
  .ms_section {
    margin: 20px;
  }
  h2 {
  font-size: 26px;
  }
  .ms_block {
    padding: 10px 0px;
  }
}
