/* DEBUG */
[class*="col-"] {
  background-color: pink;
  /* border: 1px solid red; */
}

.red {
  background-color: red;
}

/* REGOLE GENERALI */
.ms_section {
  margin: 50px 0;
}

/* Header */
nav {
  background-color:
}
#jumbo {
  height: 420px;
  background-image: url(../img/bg-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
